<header class="container-fluid text-center about">
  <div class="container p-5">
    <h1 class="display-1">About Us</h1>

    <p class="lead">
      Our mission is to provide our customers with unparalleled customer support and to
      provide a product that is easy to use and understand. We are committed to providing
      our customers with hte best possible experience. We are always looking for ways to improve
      our product and welcome any feedback you might have.
    </p>
  </div>
</header>

<div class="container my-5">
  <div class="row">
    <!-- task column -->
    <div class="col-md-7">
      <h2 class="display-3">Task Management</h2>
      <p class="lead">
        Nodebucket is a task management application that allows users to create,
        view, and edit tasks. Users can also drag and drop tasks to change their status.
      </p>
      <p class="lead">
        Some of the feedback we have received includes:
      </p>
      <ul>
        <li>Great product! I use it ever day.</li>
        <li>Very useful. I don't know how I lived without it.</li>
        <li>This is great, it helps me organize my day-to-day tasks.</li>
        <li>I love this app. I split my life into two periods: before Nodebucket and after.</li>
      </ul>
    </div>
    <!-- end task column -->

    <div class="col-md-5">
      <img src="./assets/about-todo.jpg"
        alt="white printer paper beside silver laptop computer"
        class="img-fluid rounded">
    </div>
  </div>
  <!-- end row-->  

  <hr class="my-5">

  <div class="row">
    <div class="col-md-5">
      <img src="./assets/about-mobile.jpg" 
        alt="person holding a mobile smartphone in a white shirt"
        class="img-fluid rounded">
    </div>

    <div class="col-md-7">
      <h2 class="display-3">Mobile Accessibility</h2>
      <p class="lead">
        Nodebucket is available on both iOs and Android. There is no need to download 
        the app from the App Store or Google Play. Our website is fully responsive and 
        will work on any device.
      </p>
    </div>
  </div>

  <hr class="my-5" />

  <div class="row">
    <div class="col-md-12">
      <h2 class="display-3 text-center">Our Team</h2>
      <p class="lead text-center">
        Our team is comprised of the following members:
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7">
      <p class="lead">
        <strong>Ayden Davis</strong> - Ayden is a seasoned developer with over 30 years of experience in the field.
        He has a Master's Degree in Computer Science and is currently pursing his PhD. He is also a published author
        and has written two books on coding. He loves to code and teach new developers programming concepts. 
      </p>
    </div>

    <div class="col-md-5">
      <img src="./assets/about-ayden.jpg" 
        alt="man in green shirt wearing black framed glasses"
        class="img-fluid rounded">
    </div>
  </div>

  <div class="row my-5">
    <div class="col-md-7">
      <p class="lead">
        <strong>Lili Carlson</strong> - Lili is a junior developer with 2 years of experience. She has a Bachelor's Degree in 
        Computer Science and is currently pursuing her Master's Degree. She is a published author and has written two books on coding.
      </p>
    </div>

    <div class="col-md-5">
      <img src="./assets/about-lili.jpg" 
        alt="woman in white and blue checked dress shirt"
        class="img-fluid rounded">
    </div>
  </div>

  <div class="row my-5">
    <div class="col-md-7">
      <p class="lead">
        <strong>Seren Barton</strong> - Seren is junior developer with 1 years of experience. She has a Bachelor's Degree in Web Development and 
        Marketing and is currently pursing a degree in graphic design. In her spare time she enjoys going to the beach 
        and spending time with her family. 
      </p>
    </div>

    <div class="col-md-5">
      <img src="./assets/about-seren.jpg" 
        alt="woman in a white long sleeve shirt and blue denim jeans sitting on the ground"
        class="img-fluid rounded">
    </div>
  </div>
</div>
<!-- end container -->