/* CSS Reset */
body, header, nav, main, footer, h1, h2, h3, h4, div {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Global Styles */
body {
  background-color: #333333;
  color: #000000;
  font-family: 'Oswald', Verdana, Arial, sans-serif;
}

/* Header */
header {
  background-color: #3C275A;
  color: #FFFFFF;
  height: 75px;
  padding: 2%;
  text-align: center;
}

header h1 {
  padding-top: 2%;
}

/* Navigation */
nav {
  background-color: #4F3674;
  border-bottom: 15px solid #D6A800;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

nav li {
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  font-family: Verdana, Arial, sans-serif;
}

nav li a {
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 0.5em 1em;
  text-decoration: none;
}

nav li a:hover {
  background-color: #D6A800;
  color: #4F3674;
}

h1, h2, h3, h4 {
  font-weight: lighter;
}

/* Main Content */
main {
  clear: both;
  background-color: #FFFFFF;
  padding: 2%;
  font-size: 1.25em;
  min-height: 600px;
}

/* Footer */
footer {
  background-color: #4F3674;
  height: 70px;
}

footer p {
  color: #FFFFFF;
  font-weight: 400;
  float: right;
  font-style: italic;
  font-size: .75em;
  padding: 1%;
}

footer p a {
  color: #FFFFFF;
  text-decoration: none;
}

footer p a:hover {
  color: #D6A800;
}

/* CSS Classes */
.container {
  width: 80%;
  margin: 0 auto;
}
