<div class="container-fluid pt-2">
  <h1 class="text-center">Welcome to the Nodebucket Application!</h1>
  <div class="row mt-5">
    <div class="col-sm-4">
      <figure>
        <a routerLink="/task-management/my-tasks">
          <img class="img-fluid" src="./assets/todo.jpg" alt="person writing bucket list" />
        </a>
        <h1>Tasks</h1>
        <p>Nodebucket is a simple to-do list application that allows you to manage and keep track of your tasks.</p>
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <a routerLink="/about">
          <img class="img-fluid" src="./assets/about-us.jpg" alt="framed eyeglasses on top of a book" />
        </a>
        <h1>About Us</h1>
        <p>Learn more about our company and why Nodebucket is right for you!</p>
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <a routerLink="/contact">
          <img class="img-fluid" src="./assets/contact-us.jpg" alt="contact scrable photo" />
        </a>
        <h1>Contact Us</h1>
        <p>Have questions? We have answers. Contact us today!</p>
      </figure>
    </div>
  </div>
</div>


