/* styles for the body */
body {
  background-color: #333; margin: 1.25rem;
}

/* styles for anchor elements  */
a {
  color: yellow;
  font-size: 2rem;
  font-family: sans-serif;
}

/* styles for h1 elements  */
h1 {
  color: #eee;
  font-family: sans-serif;
}

/* styles for h3 elements  */
h3 {
  color: #eee;
  font-family: sans-serif;
}
