<footer class="mt-5 container-fluid text-center bg-dark p-5">
  <div class="container p-5 text-white fst-italic">
    <p>&copy; Copyright 2023. All Rights Reserved.</p>
    <p><a href="mailto:support@nodebucket.com" class="text-white text-underline-hover">support@nodebucket.com</a></p>
    <a href="https://www.facebook.com/nodebucket" target="_blank">
      <img src="./assets/facebook-logo.png" alt="black and white facebook logo" class="pe-4">
    </a>
    <a href="https://www.twitter.com/nodebucket" target="_blank">
      <img src="./assets/twitter-logo.png" alt="black and white twitter logo">
    </a>
  </div>
</footer>