<div class="container">
  <h1>Login</h1>
  <h2>Please fill out this form to login in.</h2>

  <form ngNativeValidate (ngSubmit)="login();">
    <fieldset>
      <legend>Login Form</legend>

      <div *ngIf="errorMessage" class="error">
        {{ errorMessage }}
      </div>

      <label for="email">Email:</label><br />
      <input type="email" id="email" name="email" [(ngModel)]="user.email" required><br /><br />

      <label for="password">Password:</label><br />
      <input type="password" id="password" name="password" [(ngModel)]="user.password" required><br /><br />

      <input type="submit" id="submit" value="Submit">

      <!-- register option -->
      <p>Don't have an account? <a routerLink="/register">Register</a></p>
    </fieldset>
  </form>
</div>