<div id="container">

  <!-- Use the header area for the website name or logo -->
  <header></header>

  <!-- Use the nav area to add hyperlinks to other pages within the website -->
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="bar">Bar Chart</a></li>
      <li><a routerLink="pie">Pie Chart</a></li>
    </ul>
  </nav>

  <!-- Use the main area to add the main content of the webpage -->
  <main>
    <router-outlet></router-outlet>
  </main>

  <!-- Use the footer area to add webpage footer content -->
  <footer>
    <p>&copy; Copyright 2023-2024. All Rights Reserved.</p>
    <p><a href="mailto:support@chartapp.com">support@chartapp.com</a></p>
  </footer>

</div>