/* styles for the return class */
.return {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  text-decoration: none;
}

/* styles for the order summary class */
.order-summary {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
}

/* styles for the order summary header class */
.order-summary__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.order-summary__header-title {
  font-size: 1.2em;
  text-align: center;
}

.order-summary__header-date {
  font-style: italic;
  text-align: center;
}

/* styles for the order summary body class */
.order-summary__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.order-summary__body-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.order-summary__body-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.order-summary__body-item-name {
  font-weight: bold;
}

.order-summary__body-item-price {
  font-style: italic;
}

/* styles for the order summary tax class */
.order-summary__body-tax {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.order-summary__body-tax-label {
  font-weight: bold;
}

.order-summary__body-tax-value {
  font-style: italic;
}

/* styles for the order summary tip class */
.order-summary__body-tip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.order-summary__body-tip-label {
  font-weight: bold;
}

.order-summary__body-tip-value {
  font-style: italic;
}

/* styles for the order summary footer class */
.order-summary__total {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 20px;
  font-size: 1.2em;
}

.order-summary__total-label {
  font-weight: bold;
  margin-right: 10px;
}

.order-summary__total-value {
  font-style: italic;
}

