<nav class="ps-3 navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <a routeLink="/" class="navbar-brand">Nodebucket</a>

  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarResponsive"
    aria-controls="navbarResponsive"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- navbar links -->
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ms-auto p-2">
      <li class="nav-item">
        <a routerLink="/home" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/about" class="nav-link">About Us</a>
      </li>
      <li class="nav-item">
        <a routerLink="/contact" class="nav-link">Contact Us</a>
      </li>

      <li *ngIf="!isSignedIn">
        <a class="nav-link" routerLink="/security/signin">Sign In</a>
      </li>

      <!-- user account -->
      <li *ngIf="isSignedIn" class="nav-item dropdown">
        <a
          href="#"
          class="nav-link pe-3"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false">
          <span class="material-icons">person</span>
        </a>

        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <li class="dropdown-item">
            Signed in as {{ sessionUser.fullName }}
          </li>
          <hr />
          <li>
            <a routerLink="/task-management/my-tasks" class="dropdown-item">My Tasks</a>
          </li>
          <li *ngIf="sessionUser.role === 'admin'">
            <a routerLink="/admin/employees" class="dropdown-item">Employees</a>
          </li>
          <li>
            <a (click)="signout()" class="dropdown-item link">Sign Out</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>