#creature-details {
  margin-top: 20px;
  width: 60%;
  margin: 0 auto;
}

#creature-details h1 {
  text-align: center;
  margin-bottom: 20px;
}

#creature-details h2 {
  text-align: center;
  margin-bottom: 20px;
}
