<div class="container mt-5">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-8 col-md-10">
      <div class="card shadow p-4">
        <form [formGroup]="registerForm" (ngSubmit)="register()" class="form row g-3">

          <div *ngIf="errorMessage" class="row">
            <div class="col-12">
              <div class="alert alert-danger">
                {{ errorMessage }}
              </div>
            </div>
          </div>

          <fieldset class="mb-3 form-group">
            <legend>Employee Information</legend>

            <div class="row">
              <div class="col-md-6">
                <label class="form-label" for="email">Email:</label>
                <input class="form-control" formControlName="email" type="text" id="email" name="email" required>

                 <!-- validation errors -->
                <div class="alert alert-danger mt-2" *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)">
                  <div *ngIf="registerForm.controls['email'].hasError('required')">
                    Email is required.
                  </div>

                  <div *ngIf="registerForm.controls['email'].hasError('email')">
                    Email must be a valid email address.
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <label for="password" class="form-label">Password:</label>
                <input type="password" id="password" formControlName="password" name="password" required class="form-control">

                <!-- validation errors -->
                <div class="alert alert-danger mt-2" *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)">
                  <div *ngIf="registerForm.controls['password'].hasError('required')">
                    Password is required.
                  </div>

                  <div *ngIf="registerForm.controls['password'].hasError('pattern')">
                    Password must be at least 8 characters long, contain at least one uppercase letter, one lowercase letter, and one number.
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <label for="fName" class="form-label">First Name:</label>
                <input type="text" id="fName" formControlName="firstName" name="fName" class="form-control" required>

                 <!-- validation errors -->
                <div class="alert alert-danger mt-2" *ngIf="registerForm.controls['firstName'].invalid && (registerForm.controls['firstName'].dirty || registerForm.controls['firstName'].touched)">
                  <div *ngIf="registerForm.controls['firstName'].hasError('required')">
                    First name is required.
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <label for="lName" class="form-label">Last Name:</label>
                <input type="text" id="lName" formControlName="lastName" name="lName" class="form-control" required>

                <!-- validation errors -->
                <div class="alert alert-danger mt-2" *ngIf="registerForm.controls['lastName'].invalid && (registerForm.controls['lastName'].dirty || registerForm.controls['lastName'].touched)">
                  <div *ngIf="registerForm.controls['lastName'].hasError('required')">
                    First name is required.
                  </div>
                </div>
              </div>
            </div>
          </fieldset>

          <fieldset class="mb-3 form-group">
            <legend>Security Questions</legend>

            <div class="row">
              <div class="col-md-6">
                <label for="q1">Question:</label>
                <select name="q1" formControlName="question1" id="q1" class="form-select">
                  <option *ngFor="let question of qArr1" [value]="question">{{ question }}</option>
                </select>

                <!-- validation errors -->
                <div class="alert alert-danger mt-2" *ngIf="registerForm.controls['question1'].invalid && (registerForm.controls['question1'].dirty || registerForm.controls['question1'].touched)">
                  <div *ngIf="registerForm.controls['question1'].hasError('required')">
                    Question is required.
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <label for="a1">Answer:</label><br />
                <input type="text" id="a1" formControlName="answer1" name="a1" class="form-control" required>

                <!-- validation errors -->
                <div class="alert alert-danger mt-2" *ngIf="registerForm.controls['answer1'].invalid && (registerForm.controls['answer1'].dirty || registerForm.controls['answer1'].touched)">
                  <div *ngIf="registerForm.controls['answer1'].hasError('required')">
                    Answer is required.
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <label for="q2">Question:</label>
                <select name="q2" formControlName="question2" id="q2" class="form-select">
                  <option *ngFor="let question of qArr2" [value]="question">{{ question }}</option>
                </select>

                <!-- validation errors -->
                <div class="alert alert-danger mt-2" *ngIf="registerForm.controls['question2'].invalid && (registerForm.controls['question2'].dirty || registerForm.controls['question2'].touched)">
                  <div *ngIf="registerForm.controls['question2'].hasError('required')">
                    Question is required.
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <label for="a2">Answer:</label><br />
                <input type="text" id="a2" formControlName="answer2" name="a2" class="form-control" required>

                <!-- validation errors -->
                <div class="alert alert-danger mt-2" *ngIf="registerForm.controls['answer2'].invalid && (registerForm.controls['answer2'].dirty || registerForm.controls['answer2'].touched)">
                  <div *ngIf="registerForm.controls['answer2'].hasError('required')">
                    Answer is required.
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <label for="q3">Question:</label>
                <select name="q3" formControlName="question3" id="q3" class="form-select">
                  <option *ngFor="let question of qArr3" [value]="question">{{ question }}</option>
                </select>

                <!-- validation errors -->
                <div class="alert alert-danger mt-2" *ngIf="registerForm.controls['question3'].invalid && (registerForm.controls['question3'].dirty || registerForm.controls['question3'].touched)">
                  <div *ngIf="registerForm.controls['question3'].hasError('required')">
                    Question is required.
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <label for="a3">Answer:</label><br />
                <input type="text" formControlName="answer3" id="a3" name="a3" class="form-control" required>

                <!-- validation errors -->
                <div class="alert alert-danger mt-2" *ngIf="registerForm.controls['answer3'].invalid && (registerForm.controls['answer3'].dirty || registerForm.controls['answer3'].touched)">
                  <div *ngIf="registerForm.controls['answer3'].hasError('required')">
                    Answer is required.
                  </div>
                </div>
              </div>
            </div>
          </fieldset>

          <input type="submit" id="submit" [disabled]="!registerForm.valid" value="Register Account" class="btn btn-lg bg-dark text-white mx-auto d-block">
        </form>
      </div>
      <a class="text-underline-hover text-dark" routerLink="/">Return</a>
    </div>
  </div>
</div>

