<div class="container mt-5 text-center" style="min-height: 600px;">
  <div class="row">
    <!-- first column -->
    <div class="col-md-6">
      <img src="./assets/error-404.jpg" alt="broken phone with a message of 404." class="img-fluid rounded">
    </div>

    <!-- second column -->
    <div class="col-md-6 my-5">
      <h1 class="display-1">404</h1>
      <h2 class="display-4">Page Not Found!</h2>
      <p class="lead">
        The page you are looking for does not exist.  Please check the URL and try again.
      </p>
      <a routerLink="/" class="btn btn-outline-secondary">Go Home</a>
    </div>
  </div>
</div>