<div>
  <h1>Restaurant App!</h1>

  <br />

  <form #orderForm="ngForm" (submit)="generateOrder(); orderForm.reset()">
    <fieldset>
      <legend>Breakfast Menu</legend>

      <div *ngFor="let product of products">
        <input type="checkbox" value="{{ product.price }}" [(ngModel)]="product.checked" [name]="product.name"> {{ product.name }} - {{ product.price | currency:'USD' }}
      </div>

      <br />

      <div>
        <label for="tip">Tip:</label><br />
        <input type="text" id="tip" name="tip" [(ngModel)]="order.tip">
      </div>

      <br />

      <div>
        <input type="submit" value="Place Order">
      </div>
    </fieldset>
  </form>
</div>