<div class="container-fluid mt-3" style="min-height: 600px;">
  <div class="text-center">

    <h2 class="py-3">Ready to get started? Contact us today.</h2>
    <h4>
      <a
        href="tel:4025555555"
        class="btn btn-outline-secondary btn-lg bg-dark text-white d-sm-none d-md-none d-lg-none d-xl-none">
        (402) 555-5555
      </a>
    </h4>
    <h4 class="d-none d-sm-block d-md-block d-lg-block d-xl-block">
      (402) 555-5555
    </h4>
    <h4>Email us:
      <a
        href="mailto:support@nodebucket.com"
        class="text-underline-hover text-secondary-emphasis"
        >support@nodebucket.com
      </a>
    </h4>

    <h4>Visit us at: 1000 Galvin Road South, Bellevue, NE 68005</h4>
    <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <div class="ratio ratio-16x9 text-center mt-4 mb-4">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3004.245409187346!2d-95.9197520236111!3d41.15099607133082!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8793886b1d7a1565%3A0x79b8af7b5882cbac!2s1000%20Galvin%20Rd%20S%2C%20Bellevue%2C%20NE%2068005!5e0!3m2!1sen!2sus!4v1692837410190!5m2!1sen!2sus"
          width="600"
          height="450"
          class="map"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </div>
  </div>
</div>
