<div class="container">
  <h1>Registration</h1>
  <h2>Please fill out this form to register a new account</h2>

  <form ngNativeValidate (ngSubmit)="register();">
    <fieldset>
      <legend>Register Form</legend>

      <label for="email">Email:</label><br />
      <input type="email" id="email" name="email" [(ngModel)]="user.email" required><br /><br />

      <label for="password">Password:</label><br />
      <input type="password" id="password" name="password" [(ngModel)]="user.password" required><br /><br />

      <input type="submit" id="submit" value="Submit">

      <!-- login option -->
      <p>Already have an account? <a routerLink="/login">Login</a></p>
    </fieldset>
  </form>
</div>